<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="LMTVision.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <LMTVision.Properties.Settings>
            <setting name="LMTVision_MBMatchLabel_MatchLabel" serializeAs="String">
                <value>http://192.168.21.6/MESWS/Assembly/MatchLabel.asmx</value>
            </setting>
            <setting name="LMTVision_JMBMatchLabel_MatchLabel" serializeAs="String">
                <value>http://192.168.49.6/MESWS/Assembly/MatchLabel.asmx</value>
            </setting>
            <setting name="LMTVision_GlueMatchLabel_MatchLabel" serializeAs="String">
                <value>http://192.168.0.26/MESWS/Assembly/MatchLabel.asmx</value>
            </setting>
            <setting name="LMTVision_BPFWeb_Eqp_BPF" serializeAs="String">
                <value>http://192.168.21.6/MESWS/Assembly/Eqp_BPF.asmx</value>
            </setting>
            <setting name="LMTVision_JBPFWebIn_Eqp_BPF" serializeAs="String">
                <value>http://192.168.49.6/MESWS/Assembly/Eqp_BPF.asmx</value>
            </setting>
            <setting name="LMTVision_JBPFWebOut_MatchLabel" serializeAs="String">
                <value>http://192.168.49.6/MESWS/Assembly/MatchLabel.asmx</value>
            </setting>
            <setting name="LMTVision_glueWebReference_MatchLabel" serializeAs="String">
                <value>http://192.168.0.26/MESWS/Assembly/MatchLabel.asmx</value>
            </setting>
            <setting name="LMTVision_Web_Tray_InOut_Eqp_LMT" serializeAs="String">
                <value>http://192.168.0.26/mesws/Assembly/Eqp_LMT.asmx</value>
            </setting>
        </LMTVision.Properties.Settings>
    </applicationSettings>
  <!--<system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false">
    <proxy/>
      <bypasslist/>
        <module/>
     </defaultProxy>
    </system.net>-->
</configuration>
